*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  overflow: hidden;
}

.main-content {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.content-container {
  flex-grow: 20;
  height: 100%;
  min-width: 86.5vw;
  width: 0;
}

#svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 0 0;
  height: 92%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#svg-container svg:focus {
  outline: none;
  border: none;
}

#svg-container svg text {
  pointer-events: none;
}

svg * {
  pointer-events: auto;
}
